*.RData
*.rdb
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history

project/001/submissions
project/002/submissions
project/003/notes-talks.txt

final/final.Rmd
final/final_files
final/final.html
final/ideas.txt
