*.RData
*.rdb
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history

problem-sets/001/001-problems.html
problem-sets/001/001-problems.Rmd
problem-sets/001/001-problems_cache
problem-sets/001/001-problems_files
problem-sets/001/001.Rproj

problem-sets/002/002-problems.html
problem-sets/002/002-problems.Rmd
problem-sets/002/002-problems_cache
problem-sets/002/002-problems_files
problem-sets/002/002.Rproj